body {
    background-color: black;
    color: white;
}

h2 {
    color: burlywood;
    text-align: center;
}

#one {
    text-align: center
}

button {
    background-color: brown;
}

input {
    background-color: pink;;
}